blinker
certifi
charset-normalizer
click
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Mail
Flask-WTF
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
razorpay
requests
urllib3
Werkzeug
WTForms
zipp
