<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Nirviyu: Stay Healthy{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    </script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K2ZBJPLL');</script>
  <!-- End Google Tag Manager -->
 
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1375916097000437');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1375916097000437&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>
  <body>


    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2ZBJPLL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


    <header class="header">
      <logo class="logo">
        <img
          class="logo-img"
          src="{{ url_for('static', filename='img/logo/logo-removebg-preview.png') }}"
          alt="Nirviyu"
        />
      </logo>
      <nav class="nav">
        <ul class="nav-list">
          <li><a class="nav-el" href="{{ url_for('index') }}">Home</a></li>
          <li>
            <a class="nav-el" href="{{ url_for('products') }}">Products</a>
          </li>
          <li>
            <a class="nav-el" href="{{ url_for('index') }}#services"
              >Services</a
            >
          </li>
          <li><a class="nav-el" href="{{ url_for('cart') }}">Cart</a></li>
          <li>
            <a class="nav-el" href="{{ url_for('index') }}#know_more"
              >Contact Us</a
            >
          </li>
          <li>
            <a class="nav-el" href="{{ url_for('order_history') }}">Orders</a>
          </li>
          <li>
            {% if current_user.is_authenticated %}
            <li><a  class="nav-el login-bar" href="/logout">Logout</a></li>
        {% else %}
            <li><a  class="nav-el login-bar" href="/login">Login</a></li>
        {% endif %}
          </li>
        </ul>
      </nav>
      <svg   class="nav-icon"
      onclick="toggleNav()" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><line x1="80" y1="160" x2="432" y2="160" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><line x1="80" y1="256" x2="432" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/><line x1="80" y1="352" x2="432" y2="352" style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/></svg>

      <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()"
          >&times;</a
        >
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('index')}}#services">Services</a>
        <a href="{{ url_for('cart') }}">Cart</a>
        <a href="{{ url_for('order_history') }}">Orders</a>
        <a href="{{ url_for('index') }}#know_more">Contact Us</a>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
    {% endif %}
      </div>
    </header>
    {% block content %}{% endblock %}

  
    <script src="../static/scripts/nav.js"></script>

  </body>
</html>
