{% extends 'base.html'%} {% block title %}Shopping Cart{% endblock %} {% block
content %}
<div class="cart-container">
  <h2 class="cart-header">Shopping Cart</h2>
  {% if cart %} {% for item in cart %}
  <div class="cart-item">
    <img
      src="{{ url_for('static', filename='uploads/' + item.path) }}"
      alt="{{ item.name }}"
    />
    <div class="cart-item-details">
      <p class="cart-item-name">{{ item.prod_name }}</p>
      <p class="cart-item-desc">{{ item.description }}</p>
    </div>
    <p class="cart-item-price">₹ {{ item.price }}</p>
    <p class="cart-item-quantity">Quantity: {{ item.qty }}</p>
  </div>
  {% endfor %}
  <p class="cart-total">Total: ₹ {{total_amt}}</p>
  <div class="cart-buttons">
    <button class="btn btn--primary">
      <a href="/products" class="cont-shopping"> Continue Shopping</a>
    </button>
    <form action="/address" method="post">
      <button class="btn btn--primary">
        Confirm Shipping Address to place order
      </button>
    </form>
  </div>
  {% else %}
  <p>Your cart is empty.</p>
  {% endif %}
</div>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

{% endblock %}
