{% extends 'base.html'%} {% block title %}Nirviyu : Stay Healthy{% endblock %}
{% block content %}

<div class="container privacy_policy">
<h2 class="pp-header">Privacy Policy</h2>
<p class="pp_date">Effective Date: 24-Mar-2025</p></br>
<p>
  Nirviyu ("we," "our," or "us") is committed to protecting your privacy. This
  Privacy Policy describes how we collect, use, disclose, and safeguard your
  information when you visit our website
  <a href={{url_for('index')}}>www.nirviyu.com</a> (the "Website"). By
  using the Website, you agree to the terms of this Privacy Policy.
</p>
<h3 class="pp_subheader">1. Information We Collect</h3>
<p>We collect different types of information, including:</p></br>
<h4>a. Personal Information</h4>
<ul>
  <li>Name</li>
  <li>Email address</li>
  <li>Phone number</li>
  <li>Billing and shipping address</li>
  <li>
    Payment details (processed securely via third-party payment gateways like
    Razorpay)
  </li></br>
</ul>
<h4>b. Non-Personal Information</h4>
<ul>
  <li>Browser type and version</li>
  <li>IP address</li>
  <li>Pages visited on our Website</li>
  <li>Device type</li>
  <li>Cookies and usage data</li>
</ul>
<h3 class="pp_subheader">2. How We Use Your Information</h3>
<p>We use the collected information for the following purposes:</p>
<ul>
  <li>To process and fulfill your orders</li>
  <li>To manage your account and provide customer support</li>
  <li>To send order confirmations, updates, and promotional emails</li>
  <li>To improve our website’s functionality and user experience</li>
  <li>To prevent fraudulent transactions and ensure security</li>
  <li>To comply with legal obligations</li>
</ul>
<h3 class="pp_subheader">3. Sharing of Information</h3>
<p>
  We do not sell or rent your personal information. However, we may share your
  data in the following cases:
</p>
<ul>
  <li>
    Service Providers: With third-party vendors (e.g., payment processors,
    shipping companies) who help operate our Website.
  </li>
  <li>
    Legal Compliance: When required by law or to protect our rights and prevent
    fraud.
  </li>
  <li>
    Business Transfers: In case of a merger, sale, or transfer of business
    assets.
  </li>
</ul>
<h3 class="pp_subheader">4. Security of Your Information</h3>
<p>
  We take appropriate security measures to protect your information from
  unauthorized access, alteration, disclosure, or destruction. However, no
  method of transmission over the Internet or electronic storage is 100% secure,
  and we cannot guarantee absolute security.
</p>
<p>
  If you have any questions or concerns about our Privacy Policy, please contact
  us at <a href="mailto:info@nirviyu.com">info@nirviyu.com.</a>
</p></br>
<p class="last-el">This Privacy Policy was last updated on 24-Mar-2025.</p>

</div>

<div class="container privacy_policy refund_policy">
<h2 class="pp-header">RETURN, REFUND AND CANCELLATION POLICY</h2>
<p class= "pp_subheader">
 1. ORDER CANCELLATION, RETURN, REFUND, OR EXCHANGE:</p>
<p >
A. Subject to the terms and conditions in this Returns Policy, you may apply for a cancellation of a placed order, return, refund or exchange of a product purchased from www.nirviyu.com(including its mobile version) and mobile application (collectively the “Website”). To initiate a cancellation, return, refund or exchange, you can write us at info@nirviyu.com.

</p>
<p class= "pp_subheader">B. You may apply for:</p>
<ul>
<li>
  a cancellation of an order before it is shipped to you (please refer to
  Section 2C below);</li>
<li>
  a refund of a product if it has not been received by you;</li>
<li>
  a return and refund or exchange (as applicable) of a product if (a) the
  product was defective and/ or damaged on delivery; (b) the product is
  materially different to that selected by you; (c) if the product conflict
  with any applicable legislation; (d) delayed receipt of the product by the
  User as a result of which it would not be possible to benefit from such
  product; or (e) when the receipt of products goes against the User Agreement
  (as defined under the Terms and Conditions available at the Website); or</li>
<li>
  a return of a product if you change your mind, provided that the product is
  in an intact condition.</li>
</ul>


<p class= "pp_subheader"> C. A product shall not be eligible for return and refund or exchange in the following cases:</p>
<ul>
<li>If the product has been used i.e., there is a change in the quality, quantity or other characteristics of the product or damaged while under your care;
</li>
<li>
return and refund or exchange of a product is not initiated within the time specified in this Returns Policy;
</li>
<li>
If the product causes any physical reaction (such as rashes, stomach upset, headache) or due to personal preferences after it has been opened (flavour like/ dislike, flavour difference from one brand to another);
</li>
<li>
You fail to provide the information required by us to investigate the case; and/or
</li>
<li>
If the product returned is not the product that was delivered.
</li>
</ul>



<p class= "pp_subheader">D. Return and refund or exchange of the product shall be subject to the following conditions:</p>
<ul>
<li>If the product has been used i.e., there is a change in the quality, quantity or other characteristics of the product or damaged while under your care;
</li>
<li>
return and refund or exchange of a product is not initiated within the time specified in this Returns Policy;
</li>
<li>
If the product causes any physical reaction (such as rashes, stomach upset, headache) or due to personal preferences after it has been opened (flavour like/ dislike, flavour difference from one brand to another);
</li>
<li>
You fail to provide the information required by us to investigate the case; and/or
</li>
<li>
If the product returned is not the product that was delivered.
</li>
</ul>
<p class= "pp_subheader">E. Return and Refund or Exchange Process:<p>
<p>A request for return and refund or exchange of a product must be made within the following timelines:</p>
<ul>
<li>
In case the outer or inner product packaging is open or the product
  security seal is broken - on the same day of delivery of the product.</li>
<li>
In case product is defective and/ or damaged on delivery - within 2 business days of delivery of the product.</li>
<li>
In case the product is materially different to that selected by you - within 2 business days of delivery of the product.</li>
<li>
In any other applicable case - within 14 days from the date on which the product was delivered</li>
</ul>
<p>Once we are informed, we may require you to submit certain information, including:</p>


<ul>
<li>

Short description of the case (a few questions will be asked to help us understand the case);
</li>
<li>
Photographs of the received package or products; and
</li>
<li>
Any other information required by us to understand and investigate the case.</li>
</ul>
<p>We will review the information provided by you and may request additional information if required. We may also contact you to discuss the case. After investigation, the approval of your request for a return and refund or exchange will be made by us in our sole discretion. Where the request is approved, we will arrange to collect the product and, depending on your request, refund or exchange (subject to availability) the product.
</p>
<p class="pp_subheader">F. Returns Shipping
</p>
<ul>
<li>
Our logistics partners may decline to accept or receive your parcel if it is not labelled or secured for return shipment. For ease of processing and to ensure that our logistics partners collect the correct item, you are encouraged to label the product appropriately with the item and order number.
</li>
<li>
Subject to approval of your request for a return and refund or exchange, we provide free returns shipping for our customers. Please adopt the following shipping guidelines so as to provide a seamless return experience and fast refund (if applicable):
</li>
<li>

If a product not purchased from us is returned to us, we are not accountable for any misplacement or replacement and will not be responsible for its delivery back to you.
</li>
</ul>

<p class="pp_subheader">G. Other Terms and Conditions:</p>
<ul>
<li>

Refunds, if any, shall be made by the Company within fifteen (15) business days of the approval of your refund request.
</li>
<li>
For cash on delivery transactions, the User has the option to receive the refund in his designated bank account (for which the User will have to inform us of the bank details) or for the refund to be credited to the wallet linked to his/ her User account on the Website.
</li>
<li>
For payments made through electronic means like debit card, credit card, internet banking, wallet etc., refunds shall be made to the original payment source or payment wallet of the User.
</li>
<li>
The User acknowledges that we will not be liable for any damages, interests or claims etc. resulting from a failure or delay in processing a refund due to factors beyond the control of the Company.
</li>
</ul>
<p class="pp_date">

2 ORDERS AND CANCELLATION:</p>
<p class="pp_subheader">A Acceptance and Cancellation:</p>
<ul>
<li>
We may sometimes require additional verification or information from you before accepting any order. We will inform you if additional information is required to accept your order.
</li><li>
To provide a safe and secure shopping experience, we regularly monitor transactions for suspicious activity. In the event we detect any suspicious activity, we reserve the right to cancel, post notice to you, all orders without any liability to you and further to inform law enforcement and provide them with all transaction details that may be requested for investigation of any suspicious activity.
</li><li>
We may, post notice to you, cancel a “Suspicious Order” at any stage prior to delivery. An order may, in our sole discretion (taking into account quantity and frequency) be deemed as a “Suspicious Order” if:
<ul> <li>unusually large quantities for the same product or different products are ordered;
</li><li>multiple orders from different User accounts are placed for products to be delivered to the same address;
</li><li>orders are placed by one User account but delivered to multiple addresses (drop-shipping);
</li><li>an invalid address is given;
</li><li>any malpractice is detected in placing the order; or
</li><li>we determine, in our sole discretion, that the products ordered are not for personal consumption but for commercial resale.
</li>

</ul>
<p>Any promotional vouchers used for any “Suspicious Order” that has been cancelled may not be refunded.
</p>
</ul>
<p class="pp_subheader">  B. Accounts for Users classified as “High Fraud Risk” may be suspended or terminated. Any credits earned through any loyalty or referral program will be forfeited.
</p><p>
  A User may be classified as “High Fraud Risk” if he engages in one or more of the following:
</p>
<ul>
<li>

User does not reply to the payment verification mail sent by the Company;
</li><li>
User fails to produce adequate documents during payment details verification;
</li><li>
Misuse of another User's phone/email/account
</li><li>
User provides an invalid email address or phone number;
</li><li>
Overuse or misuse of a voucher code;
</li><li>
Use of a special voucher not tagged to the correct User email address;
</li><li>
User returns the wrong product;
</li><li>
User refuses to pay for an order;
</li><li>
User with a very high return rate for products;
</li><li>
Invalid or incomplete shipping address; or
</li><li>
Repeated request for monetary compensation for petty issues.
</li>
</ul>
<p class="pp_subheader">C. Cancellation by Company:</p>
<ul><li>
If we receive a cancellation notice by the User before the order has been shipped, we shall cancel the order and refund the entire amount paid by the User.
</li><li>
We will not be able to cancel orders that have already been shipped. Users in such cases are to initiate a return once the products are received
</li>
</div>


</section class='bottom-footer'>
<footer class="footer">
  <section>
    <logo class="logo">
      <img class="logo-img" src="../static/img/logo/logo-removebg-preview.png" alt="Nirviyu" />
    </logo>
    <h2>Contact Us</h2>
    <!-- ul class="social-links">
      <li><a href="#" class="social-icon" ><ion-icon class="social-icon" name="logo-instagram"></a></ion-icon></li>
      <li><a href ="#" class="social-icon"><ion-icon class="social-icon" name="logo-facebook"></ion-icon></a></li>
      <li><a href="#" class="social-icon"><ion-icon class="social-icon"name="logo-twitter"></ion-icon></a></li>
    </ul -->

    <p class="email-link" >
      Email:
      <a class="email-link" href="mailto:info@nirviyu.com"
        >info@nirviyu.com</a
      > | <a class="email-link" href="{{ url_for('privacy_policy') }}"> Privacy Policy</a>
    </p>

</footer>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
{% endblock %}
