{% extends "base.html" %} {% block title %}Nirviyu: Products{% endblock %} {%
block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<h2 class="container product-header">Health Supplements</h2>

<input
  class="container product-search"
  type="text"
  id="searchBox"
  placeholder="Search products..."
/>


<section class="products-banner">
  <div class="product-banner-img-container">
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <picture>
                <source media="(min-width: 1024px)" srcset="{{ url_for('static', filename='uploads/banner1.webp') }}">
<source media="(min-width: 768px)" srcset="{{ url_for('static', filename='uploads/banner1.webp') }}">
                   <img src="{{ url_for('static', filename='uploads/banner1_mob.webp') }}" class="d-block w-100" alt="Banner 1">
              </picture> 
             </div>
            <div class="carousel-item">
              <picture>
                <source media="(min-width: 1024px)" srcset="{{ url_for('static', filename='uploads/banner2.webp') }}">  
                <source media="(min-width: 768px)" srcset="{{ url_for('static', filename='uploads/banner2.webp') }}">
              <img src="{{ url_for('static', filename='uploads/banner2_mob.webp') }}" class="d-block w-100" alt="Banner 2">
              </picture>
             </div>
            <div class="carousel-item">
              <picture>
                <source media="(min-width: 1024px)" srcset="{{ url_for('static', filename='uploads/banner3.webp') }}">  
                <source media="(min-width: 768px)" srcset="{{ url_for('static', filename='uploads/banner3.webp') }}">
              <img src="{{ url_for('static', filename='uploads/banner3_mob.webp') }}" class="d-block w-100" alt="Banner 3">
              </picture>
            </div>
        </div>

        <!-- Previous & Next Buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>


</section>




<div id="productList" class="product-container container grid grid--3-cols">
  {% for product in products %}

  <div class="product-card">
    <div>
      <div class="product-img">
        <form action="/products/{{product.prod_id}}" method="post">
          <button type="submit" class="product-image-button">
            <img
              class="product-image"
              src="{{ product.image_url}}"
              alt="{{ product.name }}"
            />
          </button>
        </form>
      </div class="product-points">
      <h3 class="product-name">{{ product.prod_name }}</h3>
      <p class="product-desc">{{ product.description }}</p>

      {% if product.discount > 0 %}
      <p class="product-price">MRP: ₹ <span class="price-strike">{{ product.price }} </span> (<span class="price-discount">{{product.discount}}% off</span>)
      </p>

      <p class="product-price">
        Final Price: ₹{{ product.price - (product.price * product.discount /
        100) }}
      </p>
      {% else %}
      <p class="product-price">
        <strong>MRP: ₹ {{ product.price }}</strong>
      </p>
      {% endif %}
    </div>
    <form action="/add_to_cart/{{ product.prod_id }}" method="post">
      <button class="product-image-button  product-details-button  btn--primary">Add to Cart</button>
    </form>
  </div>

  {% endfor %}
</div>

</section class='bottom-footer'>
<footer class="footer">
  <section>
    <logo class="logo">
      <img class="logo-img" src="../static/img/logo/logo-removebg-preview.png" alt="Nirviyu" />
    </logo>
    <h2>Contact Us</h2>
    <!-- ul class="social-links">
      <li><a href="#" class="social-icon" ><ion-icon class="social-icon" name="logo-instagram"></a></ion-icon></li>
      <li><a href ="#" class="social-icon"><ion-icon class="social-icon" name="logo-facebook"></ion-icon></a></li>
      <li><a href="#" class="social-icon"><ion-icon class="social-icon"name="logo-twitter"></ion-icon></a></li>
    </ul -->

    <p class="email-link" >
      Email:
      <a class="email-link" href="mailto:info@nirviyu.com"
        >info@nirviyu.com</a
      > | <a class="email-link" href="{{ url_for('privacy_policy') }}"> Privacy Policy</a>
    </p>

</footer>
<script>
  $(document).ready(function () {
    $("#searchBox").on("input", function () {
      let originalProducts = $("#productList").html();
      let query = $(this).val();
      if (query.length > 2) {
        $.getJSON("/search-products?query=" + query, function (data) {
          let resultHtml = "";
          data.forEach(function (product) {
            resultHtml += `
                          <div class="product-card">
                            <form action="/products/${product.prod_id}" method="post">
                              <button type="submit" class="product-image-button">
                                <img
                                  class="product-image"
                                  src= "${product.image_url}"
                                  alt="${product.prod_name}"
                                />
                              </button>
                            </form>
                              <h3 class="product-name">${product.prod_name}</h3>
                              <p class="product-desc">${product.description}</p>
                              <p class="product-price">
                                <strong>Price: ₹ ${product.price}</strong>
                              </p>
                            <form action="/add_to_cart/${product.prod_id}" method="post">
                              <button class="product-image-button product-details-button btn btn--primary">Add to Cart</button>
                            </form>
                        </div>`;
          });
          $("#productList").html(resultHtml);
        });
      } else {
        // Reload original products if search is cleared
        $("#productList").html(originalProducts);
      }
    });
  });
</script>

{% endblock %}
