{%extends 'base.html' %} {% block title %}{{ product.prod_name }}{% endblock %}
{% block content %}
<section class="product-details">
  <h1 class="container service-header product-details-header">
    {{ product.prod_name }}
  </h1>
  <div class="container grid grid--2-cols">
    <div class="product-details__image">
      <img
        src="{{ url_for('static', filename='uploads/' + product.path) }}"
        alt="{{ product.prod_name }}"
        width="200"
      />
    </div>
    <div class="product-details__info">
      <p class="product_details_el">
        <strong>Description:</strong> {{ product.description }}
      </p>
      <p class="product_details_el">
        <strong>Price:</strong> ${{ product.price }}
      </p>
      <form action="/add_to_cart/{{ product.prod_id }}" method="post">
        <button class="btn btn--primary">Add to Cart</button>
      </form>
      <a href="{{ url_for('products') }}">Back to Products</a>
    </div>
  </div>
</section>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
{% endblock %}
