/***************************
Color Settings
***************************/
:root {
  --primary-color: #1a1a1a;
  --secondary-color: #4d4d4d;
  --tertiary-color: #808080;

  --primary-bg-color: #cfdfd6;
}

/***************************
General Settings
***************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
/***************************
colors
***************************/
/*https://maketintsandshades.com/#115f31*/

/***************************
Header Settings
***************************/
.header {
  display: flex;
  padding: 1rem 1.2rem;
  margin: 2rem 16rem 2rem 16rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  border-radius: 3rem;
}

.logo-img {
  width: auto;
  height: 3.2rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

.nav-el {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.login-bar {
  color: black;
  background-color: #d8f5a2;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.nav-icon {
  display: none;
}

.sidebar {
  display: none;
}

/***************  ************
hero Settings
***************************/
.banner {
  background: linear-gradient(to bottom, white, #a9e34b); /* Example gradient */
  margin: 0 0 !important;
}
.hero {
  justify-content: center;
  align-items: center;
  padding: 9.6rem 6.4rem 9.6rem 6.4rem !important;
}

.hero-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.primary-header {
  font-size: 6.4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.primary-para {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 3.2rem;
}

.btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #e7efea;
  background-color: #343a40;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  margin: 0 0.2rem;
  text-align: center;
}
/***************************
Service provider Settings
***************************/
.service-provider-header {
  font-size: 3.6rem;
  font-weight: 600;
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}

.service-provider-logo {
  width: auto;
  height: 3.2rem;
}

.service-provider-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 0rem 3.2rem 3.2rem 3.2rem;
}
/***************************
Services Settings
***************************/

.services {
  background-color: #fff;
  display: flex;
  padding: 0rem 3.2rem 3.2rem 3.2rem;
  list-style-type: none;
  gap: 9.4rem;
}
.service-header,
.cta-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #115f31;
  text-align: center;
  margin-bottom: 4rem;
}

.service-icon {
  width: 6.4rem;
  height: 6.4rem;
  font-weight: 300;
  fill: #115f31;
  margin-bottom: 2.4rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-list {
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}

.service-primary-heading,
.health-plan-item-header {
  font-size: 2.4rem;
  font-weight: 500;
  color: #417f5a;
}

.service-description,
.health-plan-item-desc,
label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #588f6f;
}
/***************************
health plan Settings
***************************/
.popular-health-plans {
  padding: 3.2rem 3.2rem 9.2rem 3.2rem;
}
.popular-plan-header {
  margin-bottom: 6.4rem;
}

.health-plan-item-header {
  font-size: 2rem !important;
  margin-bottom: 3.2rem;
}

.health-plan-item-desc {
  margin-bottom: 3.2rem;
}
.health-plan-item-container {
  padding: 1.2rem 1.2rem 6.2rem 1.2rem;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  border-radius: 12px;
  position: relative;
}

.health-plan-item-container .btn {
  /* display: inline-block; */

  margin-bottom: 2.4rem;
  position: absolute;
  bottom: 0;
}

.slider-btn {
  display: none;
}

.health-plan-items {
  display: flex;
  gap: 2rem;
  /* overflow: hidden; */
  position: relative;
}

/***************************
cta Settings
***************************/
.cta {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem !important;
  color: #0c4322;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  align-items: center;
  justify-content: center;
}

.cta-container {
  max-width: 120rem;
  padding: 6.4rem 3.2rem;
  margin: 0 auto;
  outline-width: 0.1rem;
}

.cta-input {
  display: inline-block;
  padding: 1.2rem 2.4rem;
}

.form-fields {
  display: flex !important;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.cta-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.btn--cta {
  display: inline-block;
}

/*************************** 
Footer Settings 
***************************/
.footer {
  background-color: #cfdfd6;
  color: #417f5a;
  padding: 3.2rem 6.4rem 3.2rem 6.4rem;
}

.footer .logo-img {
  margin-bottom: 2.4rem;
}

.social-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1.2rem 0 1.2rem 0;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  fill: #115f31;
}

/*************************** 
Product Settings 
***************************/
.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
  padding: 2rem 2rem !important;
  background-color: var(--primary-bg-color);
}
.product-image {
  height: 20rem;
  object-fit: cover;
}

.product-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  padding: 3.2rem 3.2rem !important;
}

.product-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-desc {
  font-size: 1.4rem;
  font-weight: 300;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #666666;
  text-align: center;
  padding-bottom: 0.4rem;
}

.product-image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/*************************** 
Product Details Settings 
***************************/
.product-details-header {
  margin-bottom: 4rem !important;
}

.product-details__image {
  align-self: right;
  justify-self: right;
}

.product-details__info {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_details_el {
  font-size: 1.6rem;
}
/*************************** 
CART Settings 
***************************/

.cart-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}
.cart-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.cart-item img {
  width: 10rem;
  height: auto;
  margin-right: 2rem;
}
.cart-item-details {
  flex: 1;
}
.cart-item-name {
  font-size: 2rem;
  font-weight: 500;
}
.cart-item-desc {
  font-size: 1.4rem;
  color: #666;
}
.cart-item-price {
  margin-right: 2rem;
}

.cart-item-price,
.cart-item-quantity {
  font-size: 1.6rem;
  font-weight: 700;
}
.cart-total {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  margin-top: 2rem;
}
.btn-checkout {
  display: block;
  width: 100%;
  max-width: 20rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #0c4322;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
}

.cont-shopping {
  color: #a9e34b;
  text-decoration: none !important;
}

.cart-buttons {
  display: flex;
}

/***************************
login header Settings
***************************/
.login-container {
  max-width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.login-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.login-register {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #666;
}

.login-register a {
  color: #0c4322;
  text-decoration: none;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}

/****
signup settings
*****/
.signup-container {
  max-width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.signup-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.btn--primary {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #0c4322;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
}

/***************************
orders settings
***************************/
.order-desc {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.orders-header {
  font-size: 2.4rem;
  font-weight: 600;
}
/***************************
responsive design settings
***************************/
@media (max-width: 1250px) {
  .cta-container {
    max-width: 100rem;
    padding: 3.2rem 2.4rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }

  .services {
    row-gap: 4.8rem;
    column-gap: 4.8rem;
  }
}

@media (max-width: 1024px) {
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
hero-section
***************************/
  .hero {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }
  .primary-header {
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  .primary-para {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 2.4rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e7efea;
    background-color: #343a40;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.2rem;
  }
  /***************************
  services settings
  ***************************/

  .services {
    row-gap: 4.8rem;
    column-gap: 4.8rem;
  }

  .service-header {
    font-size: 3.2rem;
  }

  .service-primary-heading {
    font-size: 2rem;
  }

  .service-description {
    font-size: 1.4rem;
  }

  .service-icon {
    width: 4.8rem;
    height: 4.8rem;
    font-weight: 300;
    fill: #115f31;
    margin-bottom: 1.8rem;
  }

  /***************************
health plan Settings
***************************/
  .popular-health-plans {
    padding: 3.2rem 3.2rem 6.2rem 3.2rem;
  }

  .popular-plan-header {
    margin-bottom: 4.8rem;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }

  .health-plan-item-desc {
    margin-bottom: 2.4rem;
  }

  .health-plan-item-container {
    padding: 1.2rem 1.2rem 4.2rem 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;
    position: relative;
  }

  .health-plan-item-container .btn {
    display: inline-block;
    margin-bottom: 1.8rem;
    position: absolute;
    bottom: 0;
  }

  /***************************
  cta Settings
  ***************************/
  .cta {
    margin-top: 4.8rem;
    margin-bottom: 3.2rem !important;
    color: #0c4322;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    align-items: center;
    justify-content: center;
  }

  .cta-container {
    max-width: 100rem;
    padding: 4.8rem 3.2rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }

  .cta-input {
    display: inline-block;
    padding: 1rem 2rem;
  }

  .form-fields {
    display: flex !important;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }

  .cta-img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .btn--cta {
    display: inline-block;
  }

  /*************************** 
  Footer Settings 
  ***************************/
  .footer {
    background-color: #cfdfd6;
    color: #417f5a;
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  }
  /***************************
  service provider settings
  ***************************/
  .service-provider-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }

  /******************************
  header settings
  ******************************/
  .header {
    display: flex;
    padding: 1rem 1.2rem;
    margin: 3rem 2rem 3rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 3rem;
  }
}

@media (max-width: 830px) {
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
  services settings
  ***************************/
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }
  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }
  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }
  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.4rem;
  }

  /***************************
  cta Settings
  ***************************/

  .cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5%;
    margin: 5%;
  }
  .cta-img {
    grid-row: 1/2;
  }

  .cta-header {
    font-size: 2.4rem;
  }
  .form-fields {
    display: flex !important;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 640px) {
  /***************************
  nav settings
  ***************************/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 0 0 1.2rem 1.2rem;
    z-index: 1000;
  }

  .nav-list.show {
    display: block;
  }

  .nav-icon {
    display: block;
    cursor: pointer;

    font-size: 2.4rem;
    color: var(--secondary-color);
  }

  .sidebar {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    transition: 0.2s;
  }

  .sidebar a:hover {
    background-color: #575757;
  }

  .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
  }

  /***************************
  hero-section
  ***************************/
  .hero {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }

  .primary-header {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  .primary-para {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 2.4rem;
  }

  .btn {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e7efea;
    background-color: #343a40;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0rem;
  }

  /***************************
  service provider settings
  ***************************/

  .service-provider-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }
  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }

  .popular-plan-header {
    font-size: 2.4rem;

    padding: 1.2rem 0rem !important;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }
  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.2rem;
  }

  /***************************
  services settings
  ***************************/
  .service-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }

  .service-primary-heading {
    font-size: 1.6rem;
  }

  .service-description {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5%;
    margin: 5%;
  }
  .cta-img {
    grid-row: 1/2;
  }

  .cta-header {
    font-size: 2.4rem;
  }
  .form-fields {
    display: flex !important;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }
  .cta-input {
    display: inline-block;
    padding: 1rem 2rem;
  }
  .btn--cta {
    display: inline-block;
  }
  .cta-container {
    max-width: 100rem;
    padding: 4.8rem 3.2rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
  services settings
  ***************************/
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }
  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }
  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }

  .popular-plan-header {
    font-size: 2.4rem;

    padding: 1.2rem 0rem !important;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }

  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.2rem;
  }

  /***************************
services settings   
***************************/
  .service-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }

  .service-primary-heading {
    font-size: 1.6rem;
  }

  .service-description {
    font-size: 1.2rem;
  }

  /***************************
hero-section
***************************/
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }
}
