/***************************
Color Settings
***************************/
:root {
  --primary-color: #1a1a1a;
  --secondary-color: #4d4d4d;
  --tertiary-color: #808080;
  --fourth-color: #e6fcf5;

  --primary-bg-color: #cfdfd6;
}

/***************************
General Settings
***************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
/***************************
colors
***************************/
/*https://maketintsandshades.com/#115f31*/

/***************************
Header Settings
***************************/
.header {
  display: flex;
  padding: 1rem 1.2rem;
  margin: 2rem 16rem 2rem 16rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  border-radius: 3rem;
}

.logo-img {
  width: auto;
  height: 3.2rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

.nav-el {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.login-bar {
  color: black;
  background-color: #d8f5a2;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.nav-icon {
  display: none;
}

.sidebar {
  display: none;
  z-index: 1000;
}

/***************  ************
hero Settings
***************************/
.banner {
  background: linear-gradient(to bottom, white, #a9e34b); /* Example gradient */
  margin: 0 0 !important;
}
.hero {
  justify-content: center;
  align-items: center;
  padding: 9.6rem 6.4rem 9.6rem 6.4rem !important;
}

.hero-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.primary-header {
  font-size: 6.4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.primary-para {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 3.2rem;
}

.btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #e7efea;
  background-color: #343a40;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-decoration: none;
  margin: 0 0.2rem;
  text-align: center;
}
/***************************
Service provider Settings
***************************/
.service-provider-header {
  font-size: 3.6rem;
  font-weight: 600;
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}

.service-provider-logo {
  width: auto;
  height: 3.2rem;
}

.service-provider-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 0rem 3.2rem 3.2rem 3.2rem;
}
/***************************
Services Settings
***************************/

.services {
  background-color: #fff;
  display: flex;
  padding: 0rem 3.2rem 3.2rem 3.2rem;
  list-style-type: none;
  gap: 9.4rem;
}
.service-header,
.cta-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #115f31;
  text-align: center;
  margin-bottom: 4rem;
}

.service-icon {
  width: 6.4rem;
  height: 6.4rem;
  font-weight: 300;
  fill: #115f31;
  margin-bottom: 2.4rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services-list {
  padding: 6.4rem 3.2rem 3.2rem 3.2rem;
}

.service-primary-heading,
.health-plan-item-header {
  font-size: 2.4rem;
  font-weight: 500;
  color: #417f5a;
}

.service-description,
.health-plan-item-desc,
label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #588f6f;
}
/***************************
health plan Settings
***************************/
.popular-health-plans {
  padding: 3.2rem 3.2rem 9.2rem 3.2rem;
}
.popular-plan-header {
  margin-bottom: 6.4rem;
}

.health-plan-item-header {
  font-size: 2rem !important;
  margin-bottom: 3.2rem;
}

.health-plan-item-desc {
  margin-bottom: 3.2rem;
}
.health-plan-item-container {
  padding: 1.2rem 1.2rem 6.2rem 1.2rem;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  border-radius: 12px;
  position: relative;
}

.health-plan-item-container .btn {
  /* display: inline-block; */

  margin-bottom: 2.4rem;
  position: absolute;
  bottom: 0;
}

.slider-btn {
  display: none;
}

.health-plan-items {
  display: flex;
  gap: 2rem;
  /* overflow: hidden; */
  position: relative;
}
/***************************
index-products
***************************/
.index-product {
  margin-top: 6rem;
  margin-bottom: 12rem;
}

.product-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
.product-image1 {
  width: auto; /*Ensures full width of container */
  max-width: 250px; /*Prevents oversized images */
  height: 20rem; /* Keeps aspect ratio */
  display: block;
}
.product-card1 {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-items: center;
  padding: 2rem 2rem !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}
/* Hide slider buttons by default */
.slider-btn1 {
  display: none;
}

.product-desc1 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-name1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-banner-img-container {
  width: 60%;
  align-items: center;
  margin: auto;
  margin-bottom: 4rem;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
}

.carousel-inner {
  height: 100%;
  width: auto;
  justify-items: center;
}
/***************************
cta Settings
***************************/
.cta {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem !important;
  color: #0c4322;
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
  align-items: center;
  justify-content: center;
}

.cta-container {
  max-width: 120rem;
  padding: 6.4rem 3.2rem;
  margin: 0 auto;
  outline-width: 0.1rem;
}

.cta-input {
  display: inline-block;
  padding: 1.2rem 2.4rem;
}

.form-fields {
  display: flex !important;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.cta-img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.btn--cta {
  display: inline-block;
}

.close {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
}

.alert .close {
  color: red; /* Default red */
}

.alert-success {
  color: blue; /* Blue for success */
  font-size: 1.4rem;
  text-align: center;
}

.alert-danger {
  color: red; /* Red for error */
  font-size: 1.4rem;
  text-align: center;
}
/***************************
privacy policy settings
***************************/
.container privacy_policy {
  padding: 3.2rem 3.2rem;
  margin: 0 auto;
  outline-width: 0.1rem;
}
/*************************** 
Footer Settings 
***************************/
.footer {
  background: linear-gradient(to top, #000000, #4e4e4e);
  color: #dad7cd;
  padding: 3.2rem 6.4rem 3.2rem 6.4rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 10rem;
}

.footer .logo-img {
  margin-bottom: 2.4rem;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1.2rem 0 1.2rem 0;
  justify-items: center;
  justify-content: center;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  text-decoration: none;
  fill: #115f31;
}

.email-link,
.email-link p {
  font-size: 1.4rem;
  color: #c8a961 !important;
  text-decoration: none;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
/***************************
privacy policy settings
***************************/
.pp-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  padding: 3.2rem 3.2rem !important;
}
.pp_subheader {
  font-size: 2rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.pp_date {
  font-size: 2rem !important;
  font-weight: 300;
  color: var(--secondary-color);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.privacy_policy a,
.privacy_policy p,
.privacy_policy ul {
  font-size: 1.6rem;
  margin: 1rem 0;
  font-weight: 300;
}
.privacy_policy ul {
  padding-left: 2rem;
}

.privacy_policy h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.privacy_policy {
  box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);

  border-radius: 12px;
}

.last-el {
  margin-bottom: 3rem !important;
  padding-bottom: 3rem !important;
}
/*************************** 
Product Settings 
***************************/
.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-items: center;
  padding: 2rem 2rem !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}
.product-image {
  height: 20rem;
  object-fit: cover;
}

.product-header {
  font-size: 3.6rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  padding: 3.2rem 3.2rem !important;
}

.product-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-desc {
  font-size: 1.4rem;
  font-weight: 300;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 0.2rem;
}

.product-price {
  font-size: 1.6rem;
  font-weight: 500;
  color: #02040f;
  text-align: center;
  padding-bottom: 0.4rem;
}

.price-strike {
  text-decoration: line-through;
}

.price-discount {
  color: #38b000;
}

.product-image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.product-search {
  width: 30% !important;
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: 3.2rem;
  border-radius: 20px;
  padding: 10px 10px;
}

/*************************** 
Product Details Settings 
***************************/
.product-info-container {
  margin-top: 10rem;
}

.prod-el {
  text-align: left;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 1rem;
  padding: 3.2rem 3.2rem;
}

.product-details-header {
  margin-bottom: 4rem !important;
  grid-column: 1 / -1;
  text-align: center;
}

.product-details__image {
  align-self: right;
  justify-self: right;
}

.product-details-info {
  align-self: center;
}

.product_details_el {
  font-size: 1.6rem;
}

.product-details-description {
  font-size: 1.6rem;
  font-weight: 300;
  color: #4d4d4d;
  margin-bottom: 2rem;
}

.product-details-button {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
}

.main-image-container {
  position: relative;
  width: 40rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 auto;
}
.main-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-left: 50%;
}
.product-points {
  grid-column: 2/ -1;
  grid-row: 2/3;
}
.thumbnail-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;
  margin-left: 50%;
}
.thumbnail {
  width: 4rem;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
  margin: 1rem;
}
.thumbnail:hover {
  transform: scale(1.1);
}
/* Zoom effect styles */
.zoom-lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(45, 40, 40);
  background: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  display: none;
  margin-left: 50%;
}
.zoom-result {
  position: absolute;
  top: 0;
  left: 420px;
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border: 2px solid black;
  display: none;
  background-color: #fff;
}
.zoom-result img {
  position: absolute;
  width: 450px; /* Adjust based on your image resolution */
  height: auto;
  background-color: #fff;
}
/*************************** 
CART Settings 
***************************/

.cart-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}
.cart-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}
.cart-item img {
  width: 10rem;
  height: auto;
  margin-right: 2rem;
}
.cart-item-details {
  flex: 1;
}
.cart-item-name {
  font-size: 2rem;
  font-weight: 500;
}
.cart-item-desc {
  font-size: 1.4rem;
  color: #666;
}
.cart-item-price {
  margin-right: 2rem;
}

.cart-item-price,
.cart-item-quantity {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-total,
.cart-mrp,
.cart-discount {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: right;
  margin-top: 2rem;
}
.btn-checkout {
  display: block;
  width: 100%;
  max-width: 20rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: #0c4322;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
}

.cont-shopping {
  color: #a9e34b;
  text-decoration: none !important;
}

.cart-buttons {
  display: flex;
}

.cart-button-image {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.cart-remove-button {
  border: none;
  background: none;
  padding-top: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

/***************************
order details 
***************************/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

thead {
  background: var(--tertiary-color);
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}

tbody tr:hover {
  background: #ddd;
  transition: 0.3s ease;
}

td {
  color: #333;
}

/***************************
address settings
***************************/
.existing-add-container {
  background: linear-gradient(to bottom, white, #a9e34b);
  padding: 2rem;
}

.new-add-container {
  padding: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .address {
  max-width: 80%;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f4fce3;
  margin-bottom: 4rem;
  row-gap: 2.4rem;
}

.address-label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: #1a1a1a !important;
}

.existing-address-header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.new-address-header {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.new-add {
  row-gap: 1.6rem;
  column-gap: 1.6rem;
  padding: 2%;
}

.new-add-el {
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.address-submit {
  display: block;
  cursor: pointer;
  justify-self: center;
  box-sizing: border-box;
  margin-bottom: 3rem;
  list-style: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #115f31;
  color: white;
}
/***************************
login header Settings
***************************/
.login-container {
  max-width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.login-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.login-register {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #666;
}

.login-register a {
  color: #0c4322;
  text-decoration: none;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}

/****
signup settings
*****/
.signup-container {
  max-width: 40rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.signup-header {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.form-group input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}

.btn--primary {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #0c4322;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: center;
}

/***************************
orders settings
***************************/
.order-desc {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.orders-header {
  font-size: 2.4rem;
  font-weight: 600;
}

/******************
payment success settings
*******************/
.icon-payment-success {
  width: 5rem;
  height: 5rem;

  color: #0c4322;
}

.payment-header-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  gap: 1rem;
}

.payment-header {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.payment-para {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/***************************
responsive design settings
***************************/
@media (max-width: 1250px) {
  .cta-container {
    max-width: 100rem;
    padding: 3.2rem 2.4rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }

  .services {
    row-gap: 4.8rem;
    column-gap: 4.8rem;
  }
}

@media (max-width: 1024px) {
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
hero-section
***************************/
  .hero {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }
  .primary-header {
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  .primary-para {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 2.4rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e7efea;
    background-color: #343a40;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.2rem;
  }
  /***************************
  services settings
  ***************************/

  .services {
    row-gap: 4.8rem;
    column-gap: 4.8rem;
  }

  .service-header {
    font-size: 3.2rem;
  }

  .service-primary-heading {
    font-size: 2rem;
  }

  .service-description {
    font-size: 1.4rem;
  }

  .service-icon {
    width: 4.8rem;
    height: 4.8rem;
    font-weight: 300;
    fill: #115f31;
    margin-bottom: 1.8rem;
  }

  /***************************
health plan Settings
***************************/
  .popular-health-plans {
    padding: 3.2rem 3.2rem 6.2rem 3.2rem;
  }

  .popular-plan-header {
    margin-bottom: 4.8rem;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }

  .health-plan-item-desc {
    margin-bottom: 2.4rem;
  }

  .health-plan-item-container {
    padding: 1.2rem 1.2rem 4.2rem 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;
    position: relative;
  }

  .health-plan-item-container .btn {
    display: inline-block;
    margin-bottom: 1.8rem;
    position: absolute;
    bottom: 0;
  }

  /***************************
  cta Settings
  ***************************/
  .cta {
    margin-top: 4.8rem;
    margin-bottom: 3.2rem !important;
    color: #0c4322;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    align-items: center;
    justify-content: center;
  }

  .cta-container {
    max-width: 100rem;
    padding: 4.8rem 3.2rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }

  .cta-input {
    display: inline-block;
    padding: 1rem 2rem;
  }

  .form-fields {
    display: flex !important;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }

  .cta-img {
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .btn--cta {
    display: inline-block;
  }

  /*************************** 
  Footer Settings 
  ***************************/
  .footer {
    background: linear-gradient(to top, #000000, #4e4e4e);
    color: #dad7cd;
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
    margin-top: 10rem;
  }
  /***************************
  service provider settings
  ***************************/
  .service-provider-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }

  /******************************
  header settings
  ******************************/
  .header {
    display: flex;
    padding: 1rem 1.2rem;
    margin: 3rem 2rem 3rem 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 3rem;
  }
}

@media (max-width: 830px) {
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
  services settings
  ***************************/
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }
  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }
  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }
  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.4rem;
  }

  /***************************
  cta Settings
  ***************************/

  .cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5%;
    margin: 5%;
  }
  .cta-img {
    grid-row: 1/2;
  }

  .cta-header {
    font-size: 2.4rem;
  }
  .form-fields {
    display: flex !important;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }

  /***********************
  product settings
  ***********************/
  .product-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /***************************
  product details settings
  ***************************/
  .product_details_el {
    font-size: 1.2rem;
  }

  .prod-el {
    font-size: 1.2rem;
  }

  .product-details-description {
    font-size: 1.3rem;
    font-weight: 300;
    color: #4d4d4d;
    margin-bottom: 2rem;
  }
  .product-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    row-gap: 1rem;
  }
  .product-details-header {
    margin-bottom: 2rem !important;
    grid-column: 1 / -1;
    text-align: center;
  }

  .product-details__image {
    align-self: right;
    justify-self: right;
  }

  .product-details-info {
    align-items: left;
  }

  .product-details-button {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    margin: auto auto;
    justify-items: center;
    justify-content: center !important;
  }
  .main-image-container {
    position: relative;
    width: 15rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
  }
  .main-image {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-left: 0rem;
  }
  .product-points {
    grid-column: 2/ -1;
    grid-row: 2/3;
    font-size: 1rem;
  }
  .thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
    margin-left: 0rem;
  }
  .thumbnail {
    width: 2rem;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    margin: 1rem;
  }
  .thumbnail:hover {
    transform: scale(1.1);
  }
  /* Zoom effect styles */
  .zoom-lens {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(45, 40, 40);
    background: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    display: none;
    margin-left: 0rem;
  }
  .zoom-result {
    position: absolute;
    top: 0;
    left: 125px;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border: 2px solid black;
    display: none;
    background-color: #fff;
  }
  .zoom-result img {
    position: absolute;
    width: 250px; /* Adjust based on your image resolution */
    height: auto;
    background-color: #fff;
  }
}

@media (max-width: 640px) {
  /***************************
  nav settings
  ***************************/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 0 0 1.2rem 1.2rem;
    z-index: 1000;
  }

  .nav-list.show {
    display: block;
  }

  .nav-icon {
    display: block;
    cursor: pointer;

    font-size: 2.4rem;
    color: var(--secondary-color);
  }

  .sidebar {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.873);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    display: block;
    transition: 0.2s;
  }

  .sidebar a:hover {
    background-color: #575757;
  }

  .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
  }

  /***************************
  hero-section
  ***************************/
  .hero {
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }

  .primary-header {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  .primary-para {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 2.4rem;
  }

  .btn {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e7efea;
    background-color: #343a40;
    border: none;
    border-radius: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0rem;
  }

  /***************************
  service provider settings
  ***************************/

  .service-provider-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .service-provider-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0rem 3.2rem 3.2rem 3.2rem;
  }

  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }
  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }

  .popular-plan-header {
    font-size: 2.4rem;

    padding: 1.2rem 0rem !important;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }
  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.2rem;
  }

  /***************************
  services settings
  ***************************/
  .service-header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }

  .service-primary-heading {
    font-size: 1.6rem;
  }

  .service-description {
    font-size: 1.2rem;
  }

  /***************************
  product details
  ***************************/
  .product_details_el {
    font-size: 1.2rem;
  }

  .product-details-description {
    font-size: 1.3rem;
    font-weight: 300;
    color: #4d4d4d;
    margin-bottom: 2rem;
  }
  .product-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    row-gap: 1rem;
  }
  .product-details-header {
    margin-bottom: 2rem !important;
    grid-column: 1 / -1;
    text-align: center;
  }

  .product-details__image {
    align-self: right;
    justify-self: right;
  }

  .product-details-info {
    align-items: left;
  }

  .product-details-button {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    margin: auto auto;
    justify-items: center;
    justify-content: center !important;
  }
  .main-image-container {
    position: relative;
    width: 15rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
  }
  .main-image {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-left: 0rem;
  }
  .product-points {
    grid-column: 2/ -1;
    grid-row: 2/3;
    font-size: 1rem;
  }
  .thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
    margin-left: 0rem;
  }
  .thumbnail {
    width: 2rem;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    margin: 1rem;
  }
  .thumbnail:hover {
    transform: scale(1.1);
  }
  /* Zoom effect styles */
  .zoom-lens {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(45, 40, 40);
    background: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    display: none;
    margin-left: 0rem;
  }
  .zoom-result {
    position: absolute;
    top: 0;
    left: 125px;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border: 2px solid black;
    display: none;
    background-color: #fff;
  }
  .zoom-result img {
    position: absolute;
    width: 250px; /* Adjust based on your image resolution */
    height: auto;
    background-color: #fff;
  }
}

@media (max-width: 500px) {
  .cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5%;
    margin: 5%;
  }
  .cta-img {
    grid-row: 1/2;
  }

  .cta-header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .form-fields {
    display: flex !important;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2.4rem;
  }
  .cta-input {
    display: inline-block;
    padding: 1rem 2rem;
  }
  .btn--cta {
    display: inline-block;
  }
  .cta-container {
    max-width: 100rem;
    padding: 4.8rem 3.2rem 0rem 3.2rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }
  .grid {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  /***************************
  services settings
  ***************************/
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }

  .service-header {
    font-size: 1.8rem;
  }
  /***************************
  popular-health-plans settings
  ***************************/
  .popular-health-plans {
    overflow: hidden;
    position: relative;
  }
  .popular-health-plans .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
  }
  .health-plan-item-container {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;

    max-width: 100%;
    box-sizing: border-box;
    padding: 0.8rem !important;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;

    position: relative;
  }

  .container {
    padding: 0rem;
  }

  .btn {
    margin-bottom: 0.4rem !important;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
  }

  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0c4322;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  .slider-btn--prev {
    left: 0;
  }
  .slider-btn--next {
    right: 0;
  }

  .popular-plan-header {
    font-size: 1.8rem;
    margin-bottom: 2.4rem !important;

    padding: 1.2rem 0rem !important;
  }

  .health-plan-item-header {
    font-size: 1.6rem !important;
    margin-bottom: 2.4rem;
  }

  .health-plan-item-desc {
    padding-bottom: 2.4rem;
    font-size: 1.2rem;
  }

  /***************************
  index-product setting
  /***************************

  /* Wrapper for the slider */
  .slider-container1 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  /* Product container scrolls horizontally */
  .product-container1 {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    white-space: nowrap;
    flex-wrap: nowrap;
    scrollbar-width: none; /* Hide scrollbar */

    margin-left: 2rem;
  }

  /* Hide default scrollbar for Webkit browsers */
  .product-container1::-webkit-scrollbar {
    display: none;
  }

  /* Individual product cards */
  .product-card1 {
    /* Adjust as needed */
    width: 250px;
    height: 50rem; /* Ensures equal height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures uniform layout */
    align-items: center;
    text-align: center;
  }

  /* Slider buttons */
  .slider-btn1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    font-size: 20px;
    border-radius: 50%;
  }

  .slider-btn--prev1 {
    left: 10px;
  }

  .slider-btn--next1 {
    right: 10px;
  }

  .product-desc1 {
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    text-align: center;
    padding-bottom: 0.2rem;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-name1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
    text-align: center;
    padding-bottom: 0.2rem;
    white-space: normal;
  }

  .product-image1 {
    width: auto; /*Ensures full width of container */
    max-width: 250px; /*Prevents oversized images */
    height: 20rem; /* Keeps aspect ratio */
    display: block;
  }

  .product-price1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #02040f;
    text-align: left;
    padding-bottom: 0.4rem;
  }

  .product-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: #02040f;
    text-align: center;
    padding-bottom: 0.4rem;
  }

  .price-strike {
    text-decoration: line-through;
  }

  .price-discount {
    color: #38b000;
  }
  /***************************
  services settings 
***************************/
  .service-header {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
    margin-bottom: 0rem;
  }

  .service-primary-heading {
    font-size: 1.6rem;
  }

  .service-description {
    font-size: 1.2rem;
  }

  .services-list {
    padding: 0rem !important;
  }
  /***************************
hero-section
***************************/
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 6.4rem 3.2rem 6.4rem 3.2rem !important;
  }

  /***************************
  product settings
  ***************************/
  .product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .product-container {
    padding: 0rem 6rem !important;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 1.2rem;
    margin: 1.2rem;
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.137);
    border-radius: 12px;
    text-align: center; /* Center text */
  }

  .product-image-button {
    display: flex;

    justify-content: center;
    align-items: center;
    border: none;

    padding: 10px;
    margin-bottom: 1.2rem;
  }

  .product-image {
    max-width: 100%;
    height: 20rem;
    display: block;
  }
  .product-header {
    font-size: 2rem;
    font-weight: 600;
    color: #1a1a1a;
    text-align: center;
    padding: 3.2rem 3.2rem !important;
  }
  /***************************
  table orders
  ***************************/

  .tbl-container {
    padding: 1rem !important;
  }
  /***********************
  cart settings
  **********************/

  .cart-container {
    padding: 5%;
  }

  .cart-item-name {
    font-size: 1.2rem;
  }

  .cart-item-desc {
    font-size: 1rem !important;
  }

  .cart-item-price {
    font-size: 1.2rem !important;
  }
  .cart-item-quantity {
    font-size: 1.2rem !important;
  }
  .cart-total,
  .cart-mrp,
  .cart-discount {
    font-size: 1.2rem !important;
    margin-bottom: 2rem;
  }
  .cart-header {
    font-size: 2.4rem;
  }

  .cart-img {
    width: 4rem !important;
    height: auto !important;
  }

  .btn--primary {
    margin-left: 1rem;
  }

  /*********************
  address settings
  **********************/

  .existing-add-container {
    padding: 5%;
  }

  .new-add-container {
    padding: 5%;
  }

  .address-submit {
    margin-top: 2rem;
  }

  .address {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /****************************
  Orders container
  ******************************/

  .orders-container {
    padding: 5%;
  }

  .orders-header {
    padding: 0 5%;
  }

  .order-desc {
    font-size: 1.4rem;
  }

  .order-button {
    margin: 0;
  }

  /**********************
  product details settings
  **********************/

  .product-search {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 3.2rem;
    border-radius: 20px;
    padding: 10px 10px;
  }
  .product_details_el {
    font-size: 1rem;
  }

  .product-details-description {
    font-size: 1rem;
    font-weight: 300;
    color: #4d4d4d;
    margin-bottom: 2rem;
  }
  .product-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    row-gap: 1rem;
  }
  .product-details-header {
    margin-bottom: 1.8rem !important;
    font-size: 1.4rem;
    grid-column: 1 / -1;
    text-align: center;
  }

  .product-details__image {
    align-self: right;
    justify-self: right;
  }

  .product-details-info {
    align-items: left;
  }

  .product-details-button {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    margin-left: 0rem !important;
    justify-items: center;
    justify-content: center !important;
  }

  .main-image-container {
    position: relative;
    width: 15rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
  }
  .main-image {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-left: 0rem;
  }
  .product-points {
    grid-column: 2/ -1;
    grid-row: 2/3;
    font-size: 1rem;
  }
  .thumbnail-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
    margin-left: 0rem;
  }
  .thumbnail {
    width: 2rem;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    margin: 1rem;
  }
  .thumbnail:hover {
    transform: scale(1.1);
  }
  /* Zoom effect styles */
  .zoom-lens {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(45, 40, 40);
    background: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    display: none;
    margin-left: 0rem;
  }
  .zoom-result {
    position: absolute;
    top: 0;
    left: 125px;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    border: 2px solid black;
    display: none;
    background-color: #fff;
  }
  .zoom-result img {
    position: absolute;
    width: 250px; /* Adjust based on your image resolution */
    height: auto;
    background-color: #fff;
  }

  /***************************
privacy policy settings
***************************/
  .privacy_policy,
  .product-info-container,
  .product-details {
    padding: 3.2rem 3.2rem;
    margin: 0 auto;
    outline-width: 0.1rem;
  }
}
